.board {
  display: flex;
}

.war-ground {
  margin: 100px auto;
  border: 1px solid lightblue;
  width: 800px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  background-color: lightgrey;
  border: 2px solid lightgray;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.winner {
  border: none !important;
  box-shadow: 0 0 10px 2px black;
}

button {
  cursor: pointer;
}

.grass {
  border-color: mediumseagreen;
}

.poison {
  border-color: mediumpurple;
}

.fire {
  border-color: goldenrod;
}

.flying {
  border-color: steelblue;
}

.water {
  border-color: dodgerblue;
}

.bug {
  border-color: brown;
}

.normal {
  border-color: gray;
}

.ground {
  border-color: peru;
}

.fairy {
  border-color: hotpink;
}

.fighting {
  border-color: crimson;
}

.electric {
  border-color: hsl(51deg 73% 50%);
}

.psychic {
  border-color: orange;
}

.rock {
  border-color: dimgray;
}

.ice {
  border-color: darkcyan;
}

.dragon {
  border-color: mediumaquamarine;
}

.ghost {
  border-color: black;
}

.dark {
  border-color: slategray;
}

.steel {
  border-color: steelblue;
}
